<md-card>
  <md-card-header>
    <md-card-title>登录：</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-input-container floatPlaceholder="float"><!--never,float,always-->

      <input mdInput type="text" placeholder="您的email">
<!--
      <span mdPrefix>wang</span>
-->
      <span mdSuffix>@gmail.com</span><!--限定后缀-->
      <md-hint>必填项</md-hint>
<!--
      <md-error>*字母必须大写</md-error>
-->
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <p>还没有账户？<a href="">注册</a></p>
    <p>忘记密码？<a href="">找回</a></p>
  </md-card-actions>
</md-card>
